@font-face {
  font-family: 'Mayeka-Thin';
  src: url('~@/assets/fonts/MayekaThinDemo.otf') format('font-opentype'),
  url('~@/assets/fonts/MayekaThinDemo.woff') format('woff'),
  url('~@/assets/fonts/MayekaThinDemo.ttf') format('truetype');
}

@font-face {
  font-family: 'Mayeka-Light';
  src: url('~@/assets/fonts/MayekaLightDemo.otf') format('font-opentype'),
  url('~@/assets/fonts/MayekaLightDemo.woff') format('woff'),
  url('~@/assets/fonts/MayekaLightDemo.ttf') format('truetype');
}

@font-face {
  font-family: 'Mayeka-Regular';
  src: url('~@/assets/fonts/MayekaRegularDemo.otf') format('font-opentype'),
  url('~@/assets/fonts/MayekaRegularDemo.woff') format('woff'),
  url('~@/assets/fonts/MayekaRegularDemo.ttf') format('truetype');
}
