

$theme-yellow: #f88826;
$theme-orange: #ff6a5c;
$theme-grey: #584e57;

$neutral-black: #191919;
$neutral-grey-a: #4B4B4B;
$neutral-grey-b: #787878;
$neutral-grey-c: #C8C8C8;
$neutral-grey-d: #F0F0F0;
$neutral-white: #fff;

$icon-color: $neutral-white;
$copy-color: $neutral-white;
$copy-about: $neutral-grey-c;
$copy-side-nav: $neutral-grey-c;
$copy-caption: $neutral-grey-c;
$copy-color-black-transparent:  rgba($neutral-black,0.3);
$caption-symbol-color: $theme-orange;
$action-element-color: $theme-yellow;

$side-nav-bar-width: 6px;

$line-height-sm: 1.1em;
$line-height-md: 1.5em;
$font-size-xxl-screen-lg: 5em;
$font-size-xxl-screen-sm: 3em;
$font-size-xl-screen-lg: 4.5em;
$font-size-xl-screen-sm: 2.5em;
$font-size-lg-screen-lg: 4em;
$font-size-lg-screen-sm: 2.5em;
$font-size-md-screen-lg: 3em;
$font-size-md-screen-sm: 2.5em;
$font-size-sm-screen-sm: 2.5em;

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes extend {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}

@mixin bp($point) {
  
  $bp-xs: "(max-width: 340px)";
  $bp-sm: "(max-width: 540px)";
  $bp-md: "(max-width: 800px - 24px)";
  $bp-lg: "(max-width: 1280px - 24px)";

  @if $point == xs {
    @media #{$bp-xs} { @content; }
  }
  @else if $point == sm {
    @media #{$bp-sm} { @content; }
  }
  @else if $point == md {
    @media #{$bp-md}  { @content; }
  }
  @else if $point == lg {
    @media #{$bp-lg}  { @content; }
  }
}