$copy-color: #fff;
$copy-color-grey: #555;
$copy-color-med-grey: #999;
$copy-color-light-grey: #ccc;
$copy-color-black-transparent:  rgba(0,0,0,0.8);
$theme-yellow: #f88826;
$theme-orange: #b74b41;
$theme-grey: #584e57;
$background-color: #000;
$icon-color: #fff;